@model IEnumerable<ActorViewModel>

@{
    ViewBag.Title = "Actors";
}

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">
            @ViewBag.Title
        </h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="active">@Html.ActionLink("Actors", "Index", "Actors")</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("New Actor", "Create", "Actors", new { area = GlobalConstants.AdminArea }, new { data_modal = "", @class = "btn btn-default" })
    </div>
</div>

<div class="row">
    <div class="col-lg-12" id="actors-list">
        @Html.Partial("_ActorsListPartial",Model)
    </div>
</div>

@Scripts.Render()