@{
    ViewBag.Title = "Home";
}

<hr />
<div class="row">
    <div class="col-md-6">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Actors")" class="btn btn-danger btn-lg btn-block" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br />Actors</a>
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Writers")" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-signal"></span> <br />Writers</a>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Producers")" class="btn btn-danger btn-lg btn-block" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br />Producers</a>
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Directors")" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-signal"></span> <br />Directors</a>
            </p>
        </div>
    </div>
</div>
<hr class="hidden-sm hidden-xs" />
<div class="row">
    <div class="col-md-6">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Movies")" class="btn btn-danger btn-lg btn-block" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br />Movies</a>
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Serials")" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-signal"></span> <br />Serials</a>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Cinemas")" class="btn btn-danger btn-lg btn-block" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br />Cinemas</a>
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>
                <a href="@Url.Action("Index","Users")" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-signal"></span> <br />Users</a>
            </p>
        </div>
    </div>
</div>
