@model IEnumerable<ImdbLite.Web.Areas.Administration.ViewModels.Genres.GenreIndexViewModel>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", "Genres", new { area = GlobalConstants.AdminArea, id = item.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", "Genres", new { area = GlobalConstants.AdminArea, id = item.Id }, new { data_modal = "", @class = "btn btn-default" })
                    @Html.ActionLink("Permanent Delete", "ActualDelete", "Genres", new { area = GlobalConstants.AdminArea, id = item.Id }, new { data_modal = "", @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

@Scripts.Render("~/bundles/genres-delete")
